
*{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.main-content {
  position: relative;
  top: 2.5rem;
  
}

.center {
 text-align: center;
}

.title {
  text-align: center;
  padding: 1rem;
  color: #000000;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* header */
header .content {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  z-index: 100;
  background-color: black;
  color: #ffffff;
}

header h2 {
  font-family: "roboto";
  font-weight: 700;
  font-size: 1rem;
  color: rgb(156, 194, 196);
}

/* main-content */
.main-content {
  margin: 0 auto;
  background-color: #ffffff;
}

/* profile */
.profile {
  width: 80vw;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  height: auto;
}

.profile h2 {
  font-size: 1.5rem;
}

.profile .content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #808080;
  font-size: .85rem;
}

.profile .image-container {
  max-width: 100px;
  min-width: 100px;
  max-height: 100px;
  min-height: 100px;
  border-radius: 50%;
  margin: 1.5rem;
}

.profile img {
  min-width: 130%;
  position: relative;
  right: 12px;
  bottom: 10px;
}

.profile .biography {
  display: flex;
  align-items: left;
  align-content: center;
  text-align: left;
}

.profile ul {
  margin: .5rem;
}

.profile li {
  width: 300px;
}

.profile ul:last-child {
  display: none;
}

.profile span {
  font-weight: 700;
}

@media only screen and (max-width: 890px){
  .profile .content {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

}

/* works */
.works {
  display: flex;
  flex-flow: column;
  height: auto;
  width: 100vw;
  margin: 0 auto;
}

.works .title {
  background-color: rgb(228, 168, 56);
}

.works .content {
  display: flex;
  height: auto;
  padding: 2rem 4rem;
  line-height: 2;
  background-color: #ffffff;
  justify-content: center;
  margin: 0 10%;
}

.works ul {
  width: 85vw;
  text-align: left;
}

.works a:hover {
  color: black;
  border-bottom: solid 1px gray;
}


/* footer */
footer {
  display: flex;
  position: fixed;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 2rem;
  background-color: #000000;
  color: white;
}

footer h3 {
  font-size: .85rem;
  padding: .5rem;
}
